@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.input{
    background-color: rgb(66, 66, 66);
    width: 15rem;
    padding: 5px 5px;
    margin: 4px 10px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    opacity:0.9;
    color: white;
    transition: .8s ease;
    font-family: 'Roboto', sans-serif;
}

.input:hover{
    width: 20rem;
    color: black;
    background-color: white;
}

.input:focus{
    width: 20rem;
    color: black;
    background-color: white;
}

.btnSearch{
    height:30px;
    width: 30px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: .4s ease;
}

.btnSearch:hover{
    background-color: rgba(187, 186, 186, 0.13);
    /* color: black; */
}
